h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

form {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 30px;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);

    input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 25px;
        font-family: $main-font;
        position: relative;

        &::placeholder {
            font-size: 20px;
            font-style: italic;
        }
    }

    button {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    button#search {
        padding: 5px;
        border-radius: 7px;

        &:hover {
            background-color: #E9EBEE;
        }
    }

    button#random {
        margin-left: 20px;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 7px;

        span {
            font-family: $main-font;
            font-size: 20px;
            margin-left: 5px;
        }

        &:hover {
            background-color: #E9EBEE;
        }
    }
}